@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
    font-family: Galmuri11, sans-serif;
    background-color: #eee;
    opacity: 0.8;
    background-image:  linear-gradient(#ff9899 2px, transparent 2px), linear-gradient(90deg, #ff9899 2px, transparent 2px), linear-gradient(#ff9899 1px, transparent 1px), linear-gradient(90deg, #ff9899 1px, #eee 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#root {
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #ff9899;
    margin-bottom: 20px;
}

.title a {
    color: inherit;
    text-decoration: none;
}

.page_title {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.emoji_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.emoji_compare {
    display: flex;
    padding: 10px 10px 5px 10px;
    border-radius: 15px;
    background: #eee;
    gap: 5px;
}